/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    h1{
        color: var(--e-global-color-primary);
        font-family: var( --e-global-typography-primary-font-family ), Sans-serif;;
        font-size: 44px;
        font-weight: var( --e-global-typography-primary-font-weight );
        line-height: 110%;
    }
    h2{
        color: var(--e-global-color-primary);
        font-family: var( --e-global-typography-primary-font-family ), Sans-serif;;
        font-size: 35px;
        font-weight: var( --e-global-typography-primary-font-weight );
        line-height: 120%;
    }
    h3{
        color: var(--e-global-color-primary);
        font-family: var( --e-global-typography-primary-font-family ), Sans-serif;;
        font-size: 28px;
        font-weight: var( --e-global-typography-primary-font-weight );
        line-height: 130%;
    }
    h4{
        color: var(--e-global-color-primary);
        font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;;
        font-size: 23px;
        font-weight: var( --e-global-typography-secondary-font-weight );
        line-height: 140%;
    }
    body, p, span{
        color: var(--e-global-color-text);
        font-family: var( --e-global-typography-text-font-family ), Sans-serif;;
        font-size: 18px;
        font-weight: var( --e-global-typography-text-font-weight );
        line-height: 150%;
    }

    /* Buttons */
    .wbea-btn-bg, .wbea-btn-border{
        font-size: 0.875rem;
        line-height: 1.4rem;
        padding: 8px 32px;
    }
    .wbea-btn-bg{
        padding: 10px 32px;
    }

    /* Section Title */
    .wbea-section-title h2 {
        font-size: 2.1875rem;
        line-height: 2.625rem;
    }
    .wbea-section-title h4 {
        font-size: 1.4375rem;
        line-height: 2.0125rem;
    }
    .wbea-section-title a:hover{
        padding: 8px 50px 8px 32px;
    }

    /* Hero */
    .wbea-hero-img{
        width: 100% !important;
        height: auto !important;
    }
    .wbea-hero .grid {
        flex-direction: column-reverse;
    }
    .wbea-hero-content {
        margin-right: 0;
        margin-top: 0;
        margin-left: 0;
        padding: 15px;
    }
    .wbea-hero-content h4{
        font-size: 1.4375rem;
        line-height: 2.0125rem;
    }
    .wbea-hero-content h1 {
        font-size: 2.75rem; 
        line-height: 3.025rem;
    }

    /* About */
    .wbea-about-img img:first-child {
        width: 100%;
        height: auto !important;
    }
    .wbea-about-img img:last-child {
        top: -40px;
    }  
    .wbea-single-about-counter h4 {
        margin-top: 0;
        font-size: 1.4375rem;
        line-height: 2.0125rem;
    }
    .wbea-single-about-counter h2 {
        font-size: 2.1875rem;
        line-height: 2.625rem;
        margin-bottom: 0;
    }

    /* Services */
    .wbea-single-service h3 {
        font-size: 1.75rem;
        line-height: 2.275rem;
    }
    .wbea-single-service p {
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }
    .wbea-services[services-arrows="yes"], .services[services-arrows=""] {
        margin-top: 80px;
    }

    /* Blogs */
    .wbea-blog-meta a {
        font-size: 0.875rem;
        line-height: 1.4rem;
    }
    .wbea-blog-title h3 {
        font-size: 1.75rem; 
        line-height: 2.275rem;
        max-height: auto;
        min-height: auto;
    }
    .wbea-blog-excerpt {
        font-size: 1.125rem;
        line-height: 1.675rem;
    }
    .wbea-blog-carousel[blog-arrows="yes"], .wbea-blog-carousel[blog-arrows=""] {
        margin-top: 80px;
    }

    /* Teams */
    .wbea-team-img {
        height: auto !important;
        width: 100% !important;
    }
    .wbea-team-carousel[team-arrows=""], .wbea-team-carousel[team-arrows="yes"] {
        margin-top: 80px;
    }

    /* Price */
    .wbea-price-feature {
        padding: 0 15px;
    }
    .wbea-price-btn h1 {
        font-size: 2.75rem;
        line-height: 3.025rem;
    }

    /* CTA */
    .wbea-cta {
        padding: 30px;
    }
    .wbea-cta h2 {
        font-size: 2.1875rem;
        line-height: 2.625rem;
    }
    .wbea-cta a svg {
        width: 80px;
    }

    /* Filter Gallery */
    .wbea-filter-gallery-menu button {
        font-size: 1.4375rem;
        line-height: 2.0125rem;
        margin: 10px;
    }
    .wbea-filter-gallery {
        margin-bottom: 160px;
    }

    /* Products */
    .wbea-products-carousel[products-arrows=""], .wbea-products-carousel[products-arrows="yes"] {
        margin-top: 80px;
    }

    .wbea-counter-box{
        border-radius: 0 !important;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

    h1{
        color: var(--e-global-color-primary);
        font-family: var( --e-global-typography-primary-font-family ), Sans-serif;;
        font-size: 39px;
        font-weight: var( --e-global-typography-primary-font-weight );
        line-height: 110%;
    }
    h2{
        color: var(--e-global-color-primary);
        font-family: var( --e-global-typography-primary-font-family ), Sans-serif;;
        font-size: 31px;
        font-style: normal;
        font-weight: var( --e-global-typography-primary-font-weight );
        line-height: 120%;
    }
    h3{
        color: var(--e-global-color-primary);
        font-family: var( --e-global-typography-primary-font-family ), Sans-serif;;
        font-size: 25px;
        font-style: normal;
        font-weight: var( --e-global-typography-primary-font-weight );
        line-height: 130%;
    }
    h4{
        color: var(--e-global-color-secondary);
        font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;;
        font-size: 20px;
        font-style: normal;
        font-weight: var( --e-global-typography-secondary-font-weight );
        line-height: 140%;
    }
    
    body, p, span{
        color: var(--e-global-color-text);
        font-family: var( --e-global-typography-text-font-family ), Sans-serif;;
        font-size: 16px;
        font-style: normal;
        font-weight: var( --e-global-typography-text-font-weight );
        line-height: 150%;
    }

    .mob-flex-column{
        flex-direction: column-reverse;
    }
    /* Buttons */
    .wbea-btn-bg, .wbea-btn-border{
        font-size: 0.8125rem;
        line-height: 1.3rem;
        padding: 8px 30px;
    }
    .wbea-btn-bg{
        padding: 12px 30px;
    }

    /* Section Title */
    .wbea-section-title h2 {
        font-size: 1.9375rem;
        line-height: 2.325rem
    }
    .wbea-section-title h4 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .wbea-section-title a:hover{
        padding: 8px 50px 8px 32px;
    }

    /* Hero */
    .wbea-hero-img{
        width: 100% !important;
        height: auto !important;
    }
    .wbea-hero .grid {
        flex-direction: column-reverse;
    }
    .wbea-hero-content {
        margin-right: 0;
        margin-top: 0;
        margin-left: 0;
        padding: 15px;
    }
    .wbea-hero-content h4{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .wbea-hero-content h1 {
        font-size: 2.4375rem; 
        line-height: 2.68125rem;
    }
    .wbea-hero:before {
        display: none;
    }
    .wbea-hero-btn a {
        display: block;
        text-align: center;
        margin-right: 0;
        margin-top: 10px;
    }

    /* About */
    .wbea-about-img img:first-child {
        max-width: 100%;
        height: auto !important;
    }
    .wbea-about-img img:last-child {
        top: -40px;
    }    
    .wbea-about-counter {
        flex-direction: column;
    }
    .wbea-single-about-counter {
        border-right: 0;
        padding: 15px;
    }
    .wbea-single-about-counter h4 {
        margin-top: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .wbea-about-btn a {
        width: 100%;
        text-align: center;
    }
    .wbea-about-img img:first-child {
        max-width: 100%;
    }
    .wbea-about-img img:last-child {
        right: -25px;
        top: -45px;
    }
    .wbea-single-about-counter {
        border-right: 0;
        border-bottom: 2px dashed var(--e-global-color-secondary);
    }
    .wbea-single-about-counter:last-child{
        border-bottom: 0;
    }
    .wbea-about-counter{
        margin-bottom: 0;
    }
    .wbea-single-about-counter h2 {
        font-size: 1.9375rem;
        line-height: 2.325rem;
        margin-bottom: 0;
    }

    /* Services */
    .wbea-single-service h3 {
        font-size: 1.5625rem;
        line-height: 2.03125rem;
    }
    .wbea-single-service p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .wbea-services[services-arrows="yes"], .services[services-arrows=""] {
        margin-top: 80px;
    }    

    /* Brand */
    .wb-grid-row.brand-img {
        margin: 0;
    }
    .wbea-brand-img .wb-grid-desktop-4, .wbea-brand-img .wb-grid-mobile-12 {
        border-right: 0;
        width: 50%;
    }
    .wbea-brand-img .wb-grid-desktop-4:nth-child(1), .wbea-brand-img .wb-grid-desktop-4:nth-child(3), .wbea-brand-img .wb-grid-desktop-4:nth-child(5), .wbea-brand-img .wb-grid-desktop-4:nth-child(7), .wbea-brand-img .wb-grid-desktop-4:nth-child(9) {
        border-right: 1px dashed var(--e-global-color-secondary);
    }
    .wbea-brand-img .wb-grid-desktop-4:nth-child(7), .wbea-brand-img .wb-grid-desktop-4:nth-child(8) {
        border-bottom: 1px dashed var(--e-global-color-secondary);
    }
    .wbea-brand-img .col-4:nth-child(7), .wbea-brand-img .col-4:nth-child(8), .wbea-brand-img .col-4:nth-child(9) {
        border-right: 0;
        
    }    
    .wbea-brand-img .col-6:nth-child(2), .wbea-brand-img .col-6:nth-child(4), .wbea-brand-img .col-6:nth-child(6), .wbea-brand-img .col-6:nth-child(8) {
        border-right: 0;
    }
    .wbea-brand-img .col-6:nth-child(3) {
        border-right: 1px dashed var(--e-global-color-secondary);
    }
    .wbea-brand-img .col-6:nth-child(7), .wbea-brand-img .col-6:nth-child(8) {
        border-bottom: 1px dashed var(--e-global-color-secondary);
    }
    .wbea-brand-img .col-6:nth-child(9) {
        border-right: 1px dashed var(--e-global-color-secondary);
    }
    .wbea-brand-img img {
        padding: 15px;
    }

    /* Blogs */
    .wbea-blog-meta a {
        font-size: 0.8125rem;
        line-height: 1.3rem;
    }
    .wbea-blog-title h3 {
        font-size: 1.5625rem; 
        line-height: 2.03125rem;
        max-height: 100px;
        min-height: auto;
    }
    .wbea-blog-excerpt {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .wbea-blog-carousel[blog-arrows="yes"], .wbea-blog-carousel[blog-arrows=""] {
        margin-top: 80px;
    }

    /* Teams */
    .wbea-team-img {
        height: auto !important;
        width: 100% !important;
    }
    .wbea-team-carousel[team-arrows=""], .wbea-team-carousel[team-arrows="yes"] {
        margin-top: 80px;
    }

    /* Price */
    .wbea-price-btn h1 {
        font-size: 2.4375rem;
        line-height: 2.68125rem;
    }

    /* Affiliate */
    .wbea-affiliate-img img {
        width: 100% !important;
        height: auto !important;
    }
    .wbea-affiliate .wbea-btn-border {
        margin-top: 0;
        margin-bottom: 20px;
    }

    /* Testimonials */
    .wbea-author-content h4{
        font-size: 1.4375rem;
        line-height: 2.0125rem;
    }

    .wbea-business-hours-list li p {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .wbea-business-hours-list li p span {
        padding: 0;
    }

    /* Countdown */
    .wbea-countdown-timer-init {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .wbea-single-countdown {
        margin-bottom: 30px;
    }
    .wbea-single-countdown:last-child {
        margin-bottom: 0;
    }

    .wbea-creative-buttons a.btn-border {
        padding: 14px 30px;
    }

    .wbea-filter-gallery-menu button {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin: 10px;
    }
    .wbea-filter-gallery {
        margin-bottom: 200px;
    }
    .wbea-filter-gallery-menu button.active::before {
        height: 2px;
        bottom: 0px;
    }

    /* Testimonails */
    .wbea-testimonials {
        max-width: 100%;
    }
    .wbea-single-testimonial {
        flex-direction: column;
        align-items: flex-start;
    }
    .wbea-single-testimonial img {
        margin-bottom: 10px;
        width: 100% !important;
    }
    .wbea-author-info {
        display: block;
    }
    .wbea-author-top {
        flex-direction: column;
    }
    .wbea-author-content h4{
        font-size: 1.25rem;
        line-height: 1.75rem; 
    }

    /* CTA */    
    .wbea-cta {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }
    .wbea-cta h2 {
        margin-bottom: 25px;
        font-size: 1.9375rem;
        line-height: 2.325rem;
    }
    .wbea-cta a svg {
        width: 60px;
    }

    /* Products */
    .wbea-products-carousel[products-arrows=""], .wbea-products-carousel[products-arrows="yes"] {
        margin-top: 80px;
    }

    /* Sliders */
    .wbea-slide-content {
        margin: 0;
    }
    .wbea-single-slide {
        padding: 30px;
    }
    .wbea-sliders .owl-nav{
        display: none;
    }
    .wbea-slide-content p {
        margin-bottom: 10px;
    }
    .wbea-sliders .owl-dots{
        display: none;
    }
    .wbea-affiliate .section-title {
        margin-bottom: 0;
    }    
    .grid.wbea-affiliate .text-end {
        justify-content: flex-start;
        display: flex;
    }
    .grid.wbea-affiliate a.btn-bg {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .wbea-counter-box{
        border-radius: 0 !important;
    }

    .wbea-section-title.wbea-service-title p {
        max-width: 100%;
    }

    /* Arrows */
    .wbea-product-category-carousel .owl-nav {
        top: -280px;
        display: flex;
        flex-direction: column;
    }
    .wbea-carousel-arrow-border {
        padding: 6px 10px;
        margin-left: 0;
    }
    .wbea-author-info {
        margin-top: 25px;
    }
    .wbea-btn-border.wbea-affiliate-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}